<form>
  <div class="form-group">
    <label for="clientFirstName"  >Client first name: </label>
    <input ngModel required minlength="3" name="clientFirstName" id ="clientFirstName" type="text" [(ngModel)]="clientFirstName"/>
    <label for="clientLastName" >Client last name: </label>
    <input ngModel required minlength="3" name="clientLastName" id ="clientLastName" type="text" [(ngModel)]="clientLastName"/>
    <label for="tableNumber" >Table number: </label>
    <input ngModel required minlength="1" name="tableNumber" id ="tableNumber" type="number" [(ngModel)]="tableNumber"/>
  </div>
  <button class="btn btn-primary" (click)=displayOrders()>Show my orders</button>
</form>