<form>
  <div class="form-group">
    <label for="clientFirstName"  >Client first name: </label>
    <input ngModel required minlength="3" name="clientFirstName" id ="clientFirstName" type="text" [(ngModel)]="clientFirstName"/>
    <label for="clientLastName" >Client last name: </label>
    <input ngModel required minlength="3" name="clientLastName" id ="clientLastName" type="text" [(ngModel)]="clientLastName"/>
    <label for="tableNumber" >Table number: </label>
    <input ngModel required minlength="1" name="tableNumber" id ="tableNumber" type="number" [(ngModel)]="tableNumber"/>
  </div>
  <button class="btn btn-primary" (click)=displayOrders()>Show my orders</button>
</form>

<div ng-show="false" class="ng-hide"> <!-- Nie wiem jak schowac to gowno i otworzyc po kliknieciu przycisku-->
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Your orders</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Nazwa dania</th>
          <th class="text-center">Skladniki</th>
          <th class="text-center">Typ</th>
          <th class="text-center">Cena</th>
          <th class="text-center">Remove</th>
        </tr>
        <tr *ngFor="let dish of clientOrder.dishList; let id = index">
          <td>
            <span>{{dish.dishName}}</span>
          </td>
          <td>
            <span>{{ingredientName}}</span>
          </td>
          <td>
            <span>{{dish.type}}</span>
          </td>
          <td>
            <span>{{dish.cost}}</span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <select  (change)="setSelectedOption($event.target.value)">
      <option disabled selected value> -- select an option -- </option>
      <option *ngFor='let dish of avaliableDishes'>{{dish.dishName}}</option>
    </select>
  </div>
  <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="addNewDish()">Add new dish</button>
  <div>
  <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="modifyClientSingleOrder()">Modify order</button>
  </div>
</div>