<form>
  <div class="form-group">
    <label for="clientName">Client first name: </label>
    <input ngModel required minlength="3" name="clientFirstName" id ="clientFirstName" type="text"/>
    <label for="clientName">Client last name: </label>
    <input ngModel required minlength="3" name="clientLastName" id ="clientLastName" type="text"/>
    <label for="clientName">Table number: </label>
    <input ngModel required minlength="1" name="tableNumber" id ="tableNumber" type="number"/>
  </div>
  <button class="btn btn-primary" (click)=finalizeOrders()>Send new order</button>
</form>