.input-field {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    max-width: 350px;
}

.hidden {
    visibility: hidden;
}

.inner-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    float: left;
    width: 50%;
}

.left {
    display: flex;
    flex-direction: column;
}

.list {
    list-style-type: decimal;
}

.mat-mini-fab {
    background-color: darkmagenta;
    color: aliceblue;
}

.btn-margin {
    margin-bottom: 10px;
}

.btn-left {
    margin-right: 5px;
}