<div class="container">
    <div class="jumbotron">
      <h1>Restaurant menu</h1>
    </div>
  
    <ul class="dishesList">
      <li *ngFor='let dish of dishes; let j = index'>
        <mat-expansion-panel class="singleDish">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="badge" id="badgeId">{{j+1}}</span>
              <h2> {{dish.dishName}}</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            Ingredients:
          </div>
          <ng-container class="row" *ngFor='let ingredient of dish.ingredients; let i = index'>
            <ng-container *ngIf="i < dish.ingredients.length - 1; else end">
                {{ingredient.ingredientName}},
            </ng-container>
            <ng-template #end>
                {{ingredient.ingredientName}}.
            </ng-template>
          </ng-container>
          <button class="orderButton" id="buttonId" mat-raised-button (click)="addToOrder(dish, j)">Add to order</button>
          <br/><br/>
          <button class="orderButton" id="buttonId" mat-raised-button (click)="removeFromOrder(dish, j)">Remove from order</button>
          <div class="countText">Count: {{dishCount[j]}}</div>
        </mat-expansion-panel>
      </li>
    </ul>
  
    <button mat-raised-button routerLink='/order'>Finalize order</button>
    <button mat-raised-button routerLink='/orderModification'>Manage orders</button>
    <button mat-raised-button routerLink='/newDish'>Manage dishes</button>
  </div>
